@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-gradient: linear-gradient(
    157.81deg,
    #001b35 0.89%, /* Dark blue */
    #011934 17.23%, /* Even darker blue */
    #002555 42.04%, /* Very dark blue */
    #00274b 55.12%, /* Extremely dark blue */
    #000225 71.54% /* Black */
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #e0f5ff 0.89%,
    #b3d8ff 17.23%,
    #80baff 42.04%,
    #4d9dff 55.12%,
    #1a80ff 71.54%,
    #005cbf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #e0f5ff 0.89%,
    #b3d8ff 17.23%,
    #80baff 42.04%,
    #4d9dff 55.12%,
    #1a80ff 71.54%,
    #005cbf 100%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-blue-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #001b35 0.89%, /* Dark blue */
    #011934 17.23%, /* Even darker blue */
    #002555 42.04%, /* Very dark blue */
    #00274b 55.12%, /* Extremely dark blue */
    #000225 71.54% /* Black */
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #007bff 0%, #001d3d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--blue-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--blue-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.shadow-blue {
  box-shadow: 0 0 10px #007bff;
}

.text-shadow {
  text-shadow: 2px 2px 20px #007bff;
}
.shadow-normal{
  filter: drop-shadow(0 0 20px rgba(5, 9, 136, 0.7)) drop-shadow(0 0 10px rgba(3, 3, 98, 0.5)) drop-shadow(0 0 5px rgba(8, 1, 59, 0.3));
}
